# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

node_modules
test/results
test/coverage

.DS_Store
._*
.Spotlight-V100
.Trashes

# Ignore submodules
profiles/os2web/modules/os2intra_user_import