

// SMS-DRIFTSSTATUS
.sms-driftsstatus {

  input {
    margin-bottom: 0;
    border: 1px solid $color-light-blue-dark;
    background-color: $color-white;
    &:focus {
      background-color: lighten($color-light-blue-normal, 3%);
    }
  }


  .form-submit {
    float: left;
    margin-right: 1em;
    display: block;
    width: inherit;
    padding: .3125em 1em;
    background-color: $color-blue-dark;
    color: $color-white;
    font-size: 1.25em;
    font-family: "Roboto Condensed", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
    line-height: 140%;
    letter-spacing: calc-em(0.5px);
    cursor: pointer;
    &:hover {
      background-color: $color-gray-dark;
      text-decoration: none;
    }
  }


}
